<div>
    <h5>Select Tests:</h5>
    {% for test in state.config_options.all_tests %}
    <div class="checkbox">
        {% if test in state.tests %}
        <label>
            <input type="checkbox" name="selected-tests" value={{test}} checked="checked" form="save-config-form" onClick="toggleSelectAll()"/>
        </label>
        {% else %}
        <label>
            <input type="checkbox" name="selected-tests" value={{test}} form="save-config-form" onClick="toggleSelectAll()"/>
        </label>
        {% endif %}
        Test {{test}}
    </div>
    {% endfor %}
    <br>
    {% if state.are_all_tests_selected %}
    <input type="checkbox" name="select-all-tests" checked="checked" onClick="selectAll()"/> Select All<br/>
    {% else %}
    <input type="checkbox" name="select-all-tests" onClick="selectAll()"/> Select All<br/>
    {% endif %}
</div>
